[submodule "arrow-rs"]
	path = arrow-rs
	url = git@github.com:apache/arrow-rs.git
[submodule "delta-rs"]
	path = delta-rs
	url = git@github.com:adamreeve/delta-rs.git
[submodule "datafusion"]
	path = datafusion
	url = git@github.com:adamreeve/datafusion.git
[submodule "delta-kernel-rs"]
	path = delta-kernel-rs
	url = git@github.com:adamreeve/delta-kernel-rs.git
